body {
	margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

#body {
	width: 100%;
}

#loadingMessage {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffffff;
	top: 0px;
	left: 0px;
}

#loadingMessage:after {
	content: "Loading...";
	position: fixed;
	line-height: 50px;
	height: 50px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	margin: auto;
	font-size: 25px;
}

#container {
	width: 900px;
	margin: auto;
	position: relative;
	left: 0px;
	right: 0px;
	top: 50px;
	margin-bottom: 120px;
}

#timeline {
	width: 14px;
	background: #e8e8e8;
	border-radius: 7px;
	height: 100%;
	padding: 20px 0px;
	position: absolute;	
	top: -20px;
	left: 0px;
	right: 0px;
	margin: auto;
}

.divider {
	position: relative;
	width: 350px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	background: #ffffff;
	left: 0px;
	right: 0px;
	margin: auto;
	text-align: center;
	font-weight: normal;
}

.level {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.event {
	height: 150px;
}

.info {
	background: #f4f4f4;
	padding: 10px;
	width: 390px;
	height: 130px;
	position: absolute;
}

.info.leftInfo {
	left: 0px;	
}

.info.rightInfo {
	right: 0px;	
}

.info:after {
	content: "";
	display: block;
	width: 0; 
	height: 0; 
	position: absolute;
	top: 0px;
}

.info.leftInfo:after {
	right: -14px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #f4f4f4;
}

.info.rightInfo:after {
	left: -14px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid #f4f4f4; 
}

.infoDate {
	position: absolute;
	top: 0px;
	line-height: 30px;
	border-radius: 15px;
	white-space: nowrap;
	font-size: 13px;
	font-weight: 500;
}

.infoDot {
	position: absolute;
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #bababa;
	left: 0px;
	right: 0px;
	margin: auto;
	top: 0px;
}

.infoDot:after {
	position: absolute;
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: #ffffff;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

.leftDate {
	text-align: left;
	padding-right: 20px;
	padding-left: 35px;
}

.rightDate {
	text-align: right;
	padding-right: 35px;
	padding-left: 20px;
	right: 0px;
}

.info h1 {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
	font-weight: 500;
}

.info p {
	margin: 0px;
	padding: 0px;
	height: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
}

.info h3 {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-weight: 500;
	position: relative;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: hidden;
	white-space: nowrap;
}

.info h3:before {
	content: "Links:";
	font-weight: 300;
	margin-right: 10px;
}

.info h3 span a {
	color: black !important;
	text-decoration: none !important;
}

.info h3 span:after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: black;
	margin: 0px 15px;
	vertical-align: middle;
}

.info h3 span:last-child:after {
	display: none;
}
